<%- tag = "_list/#{assoc.model_name.param_key}-#{assoc.id}-" -%>
<% model_cache_unless is_admin_or?(assoc), GameMembership, tag do %>
    <ul class="of_<%= assoc.class.inverse_game_membership_assoc.model_name.param_key.pluralize %> packed">
        <%- game_memberships_sorted(assoc).each do |gm| -%>
            <li>
                <%= render_game_membership assoc, gm %>
                <%= user_action_icons is_admin?,
                    delete: polymorphic_path([assoc, gm])
                %>
            </li>
        <%- end -%>
    </ul>
<% end %>

<%= user_actions is_admin?,
    plus: ['Add', new_polymorphic_path([assoc, GameMembership])]
%>
