*, *:before, *:after {
    @include box-sizing(border-box);
    @include font-smoothing(antialiased);
    @include overflow-scrolling(touch);
}

html,
body {
    width: 100%;
    height: 100%;

    font-size: 16px;
}

a { text-decoration: none; }
