<%- title 'News' %>

<%= content_section 'news_post-index', title: 'Recent Contingency News &amp; Announcements' do -%>
    <% model_cache NewsPost do %>
        <div>
            <%- NewsPost.recent.each do |post| -%>
                <%= render partial: 'news_posts/embed', locals: {news_post: post} -%>
            <%- end -%>
        </div>
    <% end %>

    <%= user_actions is_admin?, plus: ['Add News Post', new_news_post_path] %>
<%- end -%>

