<section class="intro">
    <div>
        <p>The Contingency is a community of friends united by a love of gaming and a general philosophy of curiosity, innovation, and hilarity. What began as a technical Minecraft server has expanded to encompass many kinds of experiences: survival games, shooters, minigames, building games, online board games, and more. Members often stream their activity at Twitch.tv and/or post videos to YouTube; and we love to interact with viewers. Depending on what's going on, we will sometimes invite viewers to tag along!</p>
    </div>
</section>
<span class="row-large row-of-halfs">
    <section class="games">
        <div>
            <h2>Some of Our Favorite Games</h2>
            <ul class="games-list">
                <%- @games.each do |game| -%>
                    <li><%= game_banner game %></li>
                <%- end -%>
                <li class="see-all"><%= link_to 'All Games', games_path %></li>
            </ul>
        </div>
    </section>
    <section class="members">
        <div>
            <h2>Some of Our Members</h2>
            <ul class="members-list">
                <%- @members.each do |member| -%>
                    <li><%= member_avatar member %></li>
                <%- end -%>
                <li class="see-all"><%= link_to 'All Members', members_path %></li>
            </ul>
        </div>
    </section>
</span>