<%- show_desc ||= false %>
<%- see_all ||= false %>
<ul class="of-games packed">
    <%- games.each do |game| -%>
        <li>
            <%= game_banner game -%>
            <%- if show_desc then -%>
                <div class="game-description"><%= render_markdown game.description -%></div>
            <%- end -%>
            <%= user_action_icons is_admin?,
                settings: edit_game_path(game),
                'image-area' => game_background_images_path(game)
            %>
        </li>
    <%- end -%>
    <%- if see_all then -%>
        <li class="see-all"><%= link_to 'All Games', games_path, class: 'button' %></li>
    <%- end -%>
</ul>
