<%- show_desc ||= false %>
<%- see_all ||= false %>
<ul class="of-games packed">
    <%- games.each do |game| -%>
        <li class="hover-zoom z-level-0">
            <%= game_banner game -%>
            <%- if show_desc then -%>
                <div class="game-description"><%= render_markdown game.description -%></div>
            <%- end -%>
        </li>
    <%- end -%>
    <%- if see_all then -%>
        <li class="hover-zoom see-all z-level-0"><%= link_to 'All Games', games_path %></li>
    <%- end -%>
</ul>
