<section>
    <div>
        <h1>Editing Game<br><%= @game.name %></h1>
        <%= render 'form' %>
    </div>
</section>
<section>
    <div>
        <%= link_to 'Show', @game %> |
        <%= link_to 'Back', games_path %>
    </div>
</section>
