<%= content_section 'games-index' do -%>
    <ul>
        <%- @games.each do |game| -%>
            <li>
                <%= game_banner game -%>
                <div class="game-description"><%= render_markdown game.description -%></div>
            </li>
        <%- end -%>
    </ul>
<%- end -%>

<% content_for :user_actions do %>
    <%- if is_admin? then -%>
        <%= link_to 'New Game', new_game_path, class: 'button' %>
    <%- end -%>
<% end %>
