#game-show-info-section {
    .content_section-body[data-background] { background-position: top center; }


    .description { text-align: justify; }


    .logo {
        @include size($game-banner-size);

        margin: 0px auto;

        display: block;
    }


    .breakpoint-small & {
        .content_section-body { padding: $pad-small; }

        .logo { margin-bottom: $spacing-small; }
    }
    
    
    .breakpoint-medium & {
        .logo { margin-bottom: $spacing-medium; }
    }
    
    
    .breakpoint-large & {
        .logo { margin-bottom: $spacing-large; }
    }
}


.breakpoint-small body > main {
    padding-top: $header-height-small;
}