#background_images-index-section {
    img { @include size(100% auto); }

    
    li {
        outline: 1px $black solid;
        
        font-size: 0px;
        
        position: relative;
    }

    
    ul {
        list-style-type: none;
        
        margin: 0px;
        padding: 0px;
        
        @include clearfix;
    }
    
    
    .breakpoint-small & li { @include margin-centered($content-width-small, $spacing-small); }
    
    
    .breakpoint-medium & li {
        width: ($content-width-medium - $spacing-medium - $pad-medium-x2) / 2;
        
        margin-top: $spacing-medium;
        
        float: left;
        
        &:nth-child(even) { float: right; }
    }
    
    
    .breakpoint-large & li {
        width: ($content-width-large - $spacing-large - $pad-medium-x2) / 2;
        
        margin-bottom: $spacing-large;
    }
    
    
    .breakpoint-wide & li {
        float: left;
        
        width: ($content-width-wide - ($spacing-large * 2) - $pad-medium-x2) / 3;
        
        margin-right: $spacing-large;
        
        &:nth-child(even) { float: left; }
        
        &:nth-child(3n) { margin-right: 0px; }
    }
}