@import url('http://fonts.googleapis.com/css?family=Lato:300,400|Forum');

$font-lato:     'Lato', 'Roboto', sans-serif;
$font-forum:    'Forum', 'Roboto', sans-serif;

@import 'config/colors';

$bg-actions:        rgba($cyan-900, 0.2);
$bg-color:          $blue-grey-900;
$bg-content:        rgba($bg-color, 0.6);
$bg-contrast:       rgba($blue-grey-100, 0.2);
$bg-icon:           rgba($bg-color, $alpha-black-icon);

$content-width-small:   800px;
$content-width-medium:  800px;
$content-width-large:   1110px;
$content-width-wide:    1610px;

$game-banner-width:     250px;
$game-banner-height:    $game-banner-width / 2;

$header-height-small:   30px;
$header-height-medium:  45px;
$header-height-large:   60px;
$header-height-wide:    $header-height-large;

$header-nav-link-width: 100px;

$icons-available:   account, account-multiple, contingency-symbol, delete, gamepad, home, logout, menu, newspaper;
$icon-size:         $game-banner-height / 5;

$link-bg:       rgba($blue-grey-900, 0.8);
$link-hilite:   $blue-grey-700;

$pad-small:     10px;
$pad-medium:    10px;
$pad-large:     20px;
$pad-wide:      $pad-large;

$member-avatar-width:       $game-banner-height;
$member-avatar-height:      $member-avatar-width;
$member-avatar-handle-bg:   $black-hint;

$spacing-small:     $pad-small * 1.5;
$spacing-medium:    $pad-medium * 1.5;
$spacing-large:     $pad-large * 1.5;
$spacing-wide:      $pad-wide * 1.5;
