@import 'config/colors';

$content-width-small:   800px;
$content-width-medium:  800px;
$content-width-large:   1020px;
$content-width-wide:    1540px;

$game-banner-width:     250px;
$game-banner-height:    $game-banner-width / 2;

$gap-small:     10px;
$gap-medium:    10px;
$gap-large:     20px;
$gap-wide:      40px;

$header-height-small:   30px;
$header-height-medium:  45px;
$header-height-large:   60px;
$header-height-wide:    $header-height-large;

$header-nav-link-width: 100px;

$icons-available:   account-multiple, contingency-symbol, gamepad, home, menu;
$icon-size:         $game-banner-height / 5;

$link-hilite: $blue-grey-700;

$member-avatar-width:   $game-banner-height;
$member-avatar-height:  $member-avatar-width;
