@import 'config/colors';
@import 'config/fonts';
@import 'config/lists';
@import 'config/z';

/*
 * Icons
 */

$external-link-size:    60px;

$icons-available:   account, account-multiple, account-plus, contingency-symbol, delete, file-document-box, gamepad, gamepad-multiple, gamepad-plus, home, image-area, keyboard-backspace, link, logout, menu, newspaper, plus, settings, video;

$icon-size-sm:  30px;
$icon-size-lg:  60px;

/*
 * Layout
 */

$content-width-small:   500px;
$content-width-medium:  760px;
$content-width-large:   1080px;
$content-width-wide:    1560px;

$content-width-map: (
    small:  $content-width-small,
    medium: $content-width-medium,
    large:  $content-width-large,
    wide:   $content-width-wide
);

$header-height-small:   30px;
$header-height-medium:  60px;
$header-height-large:   60px;
$header-height-wide:    $header-height-large;

$pad-small:     10px;
$pad-medium:    20px;

$pad-small-x2:  ($pad-small  * 2);
$pad-medium-x2: ($pad-medium * 2);

$pad-map: (
    small:  $pad-small,
    medium: $pad-medium,
    large:  $pad-medium,
    wide:   $pad-medium
);

$spacing-small:     10px;
$spacing-medium:    20px;
$spacing-large:     40px;

$spacing-map: (
    small:  $spacing-small,
    medium: $spacing-medium,
    large:  $spacing-large,
    wide:   $spacing-large
);

$content-width-halfs-medium:    760px;
$content-width-halfs-large:     1080px;
$content-width-halfs-wide:      1560px;

$content-width-halfs-medium-column: ($content-width-medium / 2) - ($spacing-medium / 2);
$content-width-halfs-large-column:  ($content-width-large / 2) - ($spacing-large / 2);
$content-width-halfs-wide-column:   ($content-width-wide / 2) - ($spacing-large / 2);

/*
 * Other
 */

$transition-properties: (
    background,
    background-color,
    border-radius,
    box-shadow,
    color,
    opacity,
    
    width,
    height,
    
    left,
    
    transform,
    z-index
);

@import 'games/config';
@import 'members/config';
@import 'news_posts/config';
