.external-link-url {
    color: rgba($cyan-200, $alpha-white-text);
    
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    
    .external-link-fragment {
        color: $white-text;
        
        font-size: 1.2rem;
    }
}

.external-site-icon {
    @extend .hover-zoom;
    
    @include size($icon-size-lg);
}

#external-links-index-section {
    table { width: 100%; }
    
    td {
        width: auto;
        padding: 0.5rem 0rem;
        
        &.external-link-site-cell {
            padding: 0.5rem;
            
            img { vertical-align: middle; }
        }
        
        &.external-link-actions {
            text-align: center;
            
            > a {
                margin-right: 5px;
                
                &:last-child { margin-right: 0px; }
            }
        }
    }

    tr {
        border-bottom: 1px $black-divider solid;
        
        &:last-child { border-bottom-width: 0px; }
        
        &:hover { background: rgba($cyan-900, 0.2); }
    }
}