.external-site-icon {
    @include size($external-link-size);
}

#external-links-index-section {
    table { width: 100%; }
    
    td {
        padding: 0.5rem;
        
        &.external-link-site-cell {
            width: 15%;
            
            .external-site-icon { vertical-align: middle; }
        }
        
        &.external-link-fragment-cell { width: 80%; }
        
        &.external-link-actions {
            width: 5%;
        }
    }

    tr {
        //&:nth-child(even) { background: rgba($black, 0.1); }
        
        //&:nth-child(odd) { background: rgba($white, 0.05); }
        
        &:hover { background: rgba($cyan-900, 0.2); }
    }
}