a.game-banner {
    width: $game-banner-width;
    height: $game-banner-height;
    
    position: relative;
    
    display: inline-block;
    
    &.half-size {
        width: $game-banner-width / 2;
        height: $game-banner-height / 2;
    }
    
    > img { @include size(100%); }
}
