.game-banner {
    width: $game-banner-width;
    height: $game-banner-height;
    
    position: relative;
    
    display: inline-block;
    
    overflow: hidden;
    
    &.half-size {
        width: $game-banner-width / 2;
        height: $game-banner-height / 2;
    }
    
    > img { @include size(100%); }
    
    .breakpoint-medium & {
        max-width: $game-banner-width;
        max-height: $game-banner-height;
    }
}

#games-index-section {
    ul.packed > li {
        .game-description { @extend %hide-small; }
    }

    .breakpoint-medium & {
        .game-description {
            background: $bg-content;
            
            width: $game-banner-width - $pad-medium;
            height: $game-banner-height * 2;

            margin: 0px auto;
            padding: $pad-medium / 2;
            
            font-size: 0.8rem;
            line-height: 1rem;
        }
        
        ul.packed > li {
            width: $game-banner-width;
            
            margin-bottom: $spacing-medium;
            
            &:hover .game-description {
                background: $bg-color;
                
                width: 100%;
                
                padding: ($pad-medium / 2) $pad-medium;
            }
        }
    }
    
    .breakpoint-large & {
        ul.packed > li { margin-bottom: $spacing-large; }
    }
}

.games-controller.show-action {
    #game-info-section {
        position: relative;
        
        .breakpoint-small & {
            .game-banner {
                margin: 0px auto;
                
                display: block;
            }
            
            .game-description { margin-top: $spacing-small; }
        }
        
        .breakpoint-medium & {
            @include clearfix;
            
            .game-banner { float: left; }
            
            .game-description { margin-left: $game-banner-width + $spacing-medium; }
        }
        
        .breakpoint-large & {
            .game-description { margin-left: $game-banner-width + $spacing-large; }
        }
    }
}

ul.packed.of-games {
    .breakpoint-small & {
        > li {
            &:not(.see-all) { @include size(50% auto); }
        }
        
        .game-banner { @include size(100%); }
    }
    
    .breakpoint-medium & {
        > li.see-all {
            @include size($game-banner-width $game-banner-height);
            
            a { line-height: $game-banner-height; }
        }
    }
}
