.game-banner {
    width: $game-banner-width;
    height: $game-banner-height;
    
    position: relative;
    
    display: inline-block;
    
    &.half-size {
        width: $game-banner-width / 2;
        height: $game-banner-height / 2;
    }
    
    > img { @include size(100%); }
}


#games-index-section,
#member-games-index-section {
    .breakpoint-medium & {
        .game-description p {
            width: auto;
            height: $game-banner-height * 1.25;
        
            font-size: 0.8rem;
            line-height: 1rem;
            margin: $pad-small;
            
            display: inline-block;
            overflow: hidden;
        }
    }
    
    .breakpoint-large & {
        ul { width: $game-banner-width * 4; }
    }
    
    .breakpoint-wide & {
        ul { width: $game-banner-width * 6; }
    }
}
