@mixin margin-centered($width, $margin: null) {
    width: 100%;
    max-width: $width;

    @if $margin == null {
        margin-left: auto;
        margin-right: auto;
    }
    @else {
        margin: $margin auto;
    }
}

%content-constraint {
    .breakpoint-medium & { @include margin-centered(1000px); }
}