ul.of-members {
    .member-avatar-twitch-indicator {
        display: none;
        
        .breakpoint-medium &.show {
            background: $color-twitch-light-grey;
            text-align: center;
            
            @include size(35px);
            
            font-size: 0px;
            line-height: 0px;
            
            position: absolute;
            top: 5px;
            left: 5px;
            right: 0px;
            
            display: block;
            
            &:hover { opacity: 1; }
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .breakpoint-medium.csstransforms3d & > li {
        &:hover .member-avatar-twitch-indicator.show {
            box-shadow: 0px 2px 4px 1px #000;
            transform: scale(1.1);
        }
    }
}

.member-avatar {
    width: $member-avatar-width;
    max-width: $member-avatar-width;
    height: $member-avatar-height;
    max-height: $member-avatar-height;
    
    position: relative;
    
    display: inline-block;
    
    &.half-size {
        width: $member-avatar-width / 2;
        height: $member-avatar-height / 2;
    }
    
    > img {
        @include size(100%);

        display: inline-block;
    }
    
    > .member-handle {
        background: $member-avatar-handle-bg;
        color: $white-text;
        font-weight: bold;
        text-align: center;
        //text-shadow: 0px 0px 5px $black-text;
        text-shadow:
            -1px -1px 0px $black-secondary,
             1px -1px 0px $black-secondary,
            -1px  1px 0px $black-secondary,
             1px  1px 0px $black-secondary;
        
        width: 100%;
        height: $member-avatar-height / 6;
        
        font-size: ($member-avatar-height / 25) * 2.5;
        letter-spacing: 0.5px;
        line-height: $member-avatar-height / 6;
        padding-bottom: 5px;
        
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        
        display: inline-block;
        
        .breakpoint-small & { font-size: ($member-avatar-height / 25) * 2; }
    }
}

.members-controller.show-action {
    #member-info-section {
        position: relative;
        
        .member-biography {
            max-height: $member-avatar-height * 4;
            
            overflow-x: none;
            overflow-y: auto;
        }
        
        .member-twitch-indicator {
            display: none;
            
            &.show {
                background-color: $color-twitch-light-grey;
                background-image: url('/images/external-sites/twitch-indicator.png');
                background-position: bottom right;
                background-repeat: no-repeat;
                color: $color-twitch-dark-grey;
                
                margin-bottom: 1rem;
                padding: 1rem;
                
                position: relative;

                display: block;
                    
                > span {
                    display: block;
                }
                
                .twitch-info-game,
                .twitch-info-title {
                    color: $color-twitch-purple;
                    font-weight: bold;
                }
                
                .twitch-info-preview { outline: 1px $color-twitch-dark-grey solid; }
            }
        }
        
        .breakpoint-small & {
            .member-avatar {
                margin: 0px auto;
                
                display: block;
            }
            
            .member-biography { margin-top: $spacing-small; }
            
            .member-external-links { text-align: center; }
            
            .member-twitch-indicator {
                &.show {
                    background-size: 25%;
                    
                    padding-bottom: 2.5rem;
                    
                    > span { margin-bottom: 0.25rem; }
                    
                    .twitch-info-preview {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        
        .breakpoint-medium & {
            @include clearfix;
            
            .member-avatar { float: left; }
            
            .member-biography,
            .member-twitch-indicator { margin-left: $member-avatar-width + $spacing-medium; }
            
            .member-external-links {
                text-align: center;
                
                width: $member-avatar-width;
                
                font-size: 0px;
                
                clear: left;
                float: left;
                
                a {
                    text-align: center;
                    
                    @include size(50% $external-link-size);
                    
                    display: inline-block;
                    
                    float: left;
                }
            }
            
            .member-twitch-indicator {
                &.show {
                    background-size: 125px;
                    
                    height: calc(180px + 2rem);
                    
                    @include clearfix;
                    
                    > span {
                        font-size: 0.8rem;
                        line-height: 1.3rem;
                        margin-bottom: 1rem;
                        margin-left: calc(320px + 1rem);
                    }
                    
                    .twitch-info-game,
                    .twitch-info-title {
                        font-size: 1rem;
                    }
                    
                    .twitch-info-preview {
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        
                        display: block;
                    }
                }
            }
        }
        
        .breakpoint-large & {
            .member-biography,
            .member-twitch-indicator { margin-left: $member-avatar-width + $spacing-large; }
        }
        
        .breakpoint-wide & {
            .member-biography,
            .member-twitch-indicator { margin-left: $member-avatar-width + $spacing-wide; }
        }
    }
}


.games-controller.show-action,
.members-controller.index-action,
.members-controller.show-action,
.pages-controller.home-action {
    ul.of-games,
    ul.of-members {
        > li {
            &:hover {
                box-shadow: 0px 0.2rem 0.4rem 0.2rem $black-secondary;
                
                transform: scale(1.1);
                z-index: 10000;
            }
        }
    }
}

.games-controller.index-action ul.of-games > li:hover .game-banner {
    box-shadow: 0px 0.2rem 0.4rem 0.2rem $black-secondary;
            
    transform: scale(1.1);
    z-index: 10000;
}