.member-avatar {
    width: $member-avatar-width;
    height: $member-avatar-height;
    
    position: relative;
    
    display: inline-block;
    
    overflow: hidden;
    
    &.half-size {
        width: $member-avatar-width / 2;
        height: $member-avatar-height / 2;
    }
    
    > img {
        @include size(100%);

        display: inline-block;
    }
    
    > .member-handle {
        background: $black-secondary;
        color: $white-text;
        font-weight: bold;
        text-align: center;
        text-shadow:
            -1px -1px 4px #000,
             1px -1px 4px #000,
            -1px  1px 4px #000,
             1px  1px 4px #000;
        
        width: 100%;
        height: $member-avatar-height / 6;
        
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: $member-avatar-height / 6;
        padding-bottom: 5px;
        
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        
        display: inline-block;
    }
    
    .breakpoint-medium & {
        max-width: $member-avatar-width;
        max-height: $member-avatar-height;
    }
}

.members-controller.show-action {
    #member-info-section {
        position: relative;
        
        .member-avatar {
            z-index: 10;
            
            img {
                border-radius: 50%;
                
                @include transform(rotateZ(-15deg));
            }
        }
        
        .member-biography {
            @extend %card;
            
            max-height: $member-avatar-height * 4;
            
            overflow-x: none;
            overflow-y: auto;
        }
        
        .member-external-links {
            font-size: 0px;
        }
        
        .member-twitch-indicator {
            outline: 1px $color-twitch-dark-grey solid;
            
            display: none;
            
            &.show {
                background-color: $color-twitch-light-grey;
                background-image: url('/images/external-sites/twitch-indicator.png');
                background-position: bottom right;
                background-repeat: no-repeat;
                color: $color-twitch-dark-grey;
                
                position: relative;

                display: block;
                    
                > span {
                    display: block;
                }
                
                .twitch-info-game,
                .twitch-info-title {
                    color: $color-twitch-purple;
                    font-weight: bold;
                }
                
                .twitch-info-preview { outline: 1px $color-twitch-dark-grey solid; }
            }
        }
        
        .breakpoint-small & {
            .member-avatar {
                margin: 0px auto;
                
                display: block;
            }
            
            .member-biography { margin-top: $spacing-small; }
            
            .member-external-links {
                text-align: center;
                
                margin-top: $spacing-small;
                
                .icon { margin: 0px $spacing-small; }
            }
            
            .member-twitch-indicator {
                &.show {
                    background-size: 25%;
                    
                    margin-bottom: $spacing-small;
                    padding: $pad-small;
                    
                    > span {
                        margin-bottom: $pad-small;;
                        margin-right: 120px;
                    }
                    
                    .twitch-info-preview {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        
        .breakpoint-medium & {
            @include clearfix;
            
            .member-avatar { float: left; }
            
            .member-biography,
            .member-twitch-indicator { margin-left: $member-avatar-width + $spacing-medium; }
            
            .member-external-links {
                background: $bg-content;
                text-align: center;
                
                width: $member-avatar-width;
                
                margin-top: $spacing-medium;
                
                clear: left;
                float: left;
                
                a {
                    text-align: center;
                    
                    float: left;
                }
            }
            
            .member-twitch-indicator {
                &.show {
                    background-size: 125px;
                    
                    height: calc(180px + 2rem);
                    
                    margin-bottom: $spacing-medium;
                    padding: $pad-medium;
                    
                    @include clearfix;
                    
                    > span {
                        margin-bottom: $pad-medium;
                        margin-left: 320px + $pad-medium;
                    }
                    
                    .twitch-info-game,
                    .twitch-info-title {
                        font-size: 1rem;
                    }
                    
                    .twitch-info-preview {
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        
                        display: block;
                    }
                }
            }
        }
        
        .breakpoint-large & {
            .member-biography,
            .member-twitch-indicator { margin-left: $member-avatar-width + $spacing-large; }
            
            .member-external-links { margin-top: $spacing-large; }
        }
    }
}

ul.packed.of-members {
    .member-avatar-twitch-indicator {
        display: none;
        
        .breakpoint-medium &.show {
            background: $color-twitch-light-grey;
            text-align: center;
            
            @include size(35px);
            
            font-size: 0px;
            line-height: 0px;
            
            position: absolute;
            top: 5px;
            left: 5px;
            right: 0px;
            
            display: block;
            
            &:hover { opacity: 1; }
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .breakpoint-small & {
        > li {
            &:not(.see-all) { @include size(33% auto); }
        }
        
        .member-avatar { @include size(100%); }
    }
    
    .breakpoint-medium & {
        > li.see-all {
            @include size($member-avatar-width $member-avatar-height);
            
            a { line-height: $member-avatar-height; }
        }
    }
}
