article.news-post-embed {
    @extend %card;

    width: 100%;
    
    > header {
        position: relative;
        
        h1 {
            font-family: $font-lato;
            font-weight: normal;
            
            font-size: 1.1rem;
            line-height: 1.1rem;
            margin: 0px;
        }
        
        .game-banner,
        .generic,
        .member-avatar { @extend %hide-small; }
        
        .news-post-date {
            font-size: 0.8rem;
            line-height: 1.6;
            
            display: block;
        }
        
        .breakpoint-small & { padding: $pad-small; }
        
        .breakpoint-medium & {
            padding-right: $pad-medium + ($member-avatar-width / 2);
            
            .game-banner,
            .generic,
            .member-avatar {
                position: absolute;
                right: 0px;
            }
            
            .game-banner { top: $member-avatar-height / 2; }
            
            .generic {
                @include size($member-avatar-height / 2);
                
                top: $member-avatar-height / 2;
            }
            
            .member-avatar { top: 0px; }
        }
    }
    
    > main {
        font-size: 0.8rem;
        margin-top: 1rem;
        
        .breakpoint-medium & {
            height: $game-banner-height * 1.3;
            
            margin-right: ($game-banner-width / 2);
            padding-right: $pad-medium;
            
            overflow: hidden;
        }
    }
    
    .read-more {
        @extend %action-button;
        
        width: 100%;
        
        display: block;
    }
    
    .csstransforms.breakpoint-medium & {
        > header {
            .game-banner {
                top: ($game-banner-height / 2);
                right: 0px;
                
                @include transform(rotate(90deg));
                @include transform-origin(bottom);
            }
        }
        
        > main {
            margin-right: ($game-banner-height / 2);
        }
    }
}

#news-post-section {
    header {
        position: relative;
        
        .news-post-date {
            text-align: center;
            
            display: block;
        }
    }

    .breakpoint-small & {
        header {
            margin-bottom: $spacing-small;
            padding-top: ($game-banner-height / 2) + $pad-small;
            
            .game-banner {
                width: $game-banner-width / 2;
                height: $game-banner-height / 2;
                
                position: absolute;
                top: 0px;
                right: 0px;
            }
            
            .member-avatar {
                width: $member-avatar-width / 2;
                height: $member-avatar-height / 2;
                
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
    
    .breakpoint-medium & {
        header {
            margin-bottom: $spacing-medium;
            padding: 0px (($game-banner-width / 2) + $pad-medium);
            
            @include clearfix;
            
            .game-banner {
                width: $game-banner-width / 2;
                height: $game-banner-height / 2;
                
                position: absolute;
                top: 0px;
                right: 0px;
            }
            
            .member-avatar {
                width: $member-avatar-width / 2;
                height: $member-avatar-height / 2;
                
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
    
    .breakpoint-large & {
        header { margin-bottom: $spacing-large; }
    }
}

#news-posts-index-section {
    .news-posts-list {
        width: auto;
        
        margin: 0px auto;
    }

    .breakpoint-small & {
        article {
            margin-top: $spacing-small;
            
            &:first-child { margin-top: 0px; }
        }
    }
    
    .breakpoint-medium & {
        article {
            width: (($content-width-medium / 2) - $spacing-medium - (10px));
            
            margin-top: $spacing-medium;
            
            float: left;
            
            &:nth-child(odd) { float: right; }
            
            &:nth-child(1),
            &:nth-child(2) { margin-top: 0px; }
        }
    }
    
    .breakpoint-large & {
        article {
            width: (($content-width-large / 2) - $spacing-large);
            
            margin-top: $spacing-large;
        }
    }
    
    .breakpoint-wide & {
        article {
            width: (($content-width-wide / 3) - $spacing-large);
            
            margin-right: $spacing-large;
            
            &:nth-child(odd) { float: left; }
            
            &:nth-child(3) { margin-top: 0px; }
            
            &:nth-child(1n+3) { margin-right: 0px; }
        }
    }
}