article.news-post-embed {
    width: 100%;
    
    > header {
        background: $bg-contrast;
        
        position: relative;
        
        h1 {
            font-family: $font-lato;
            font-weight: normal;
            
            font-size: 1.2rem;
            line-height: 1.2;
            margin: 0px;
        }
        
        .news-post-date {
            font-size: 0.8rem;
            line-height: 1.6;
            
            display: block;
        }
        
        .breakpoint-small & {
            padding: $pad-small;
            
            .game-banner,
            .generic,
            .member-avatar { display: none; }
        }
        
        .breakpoint-medium & {
            min-height: $member-avatar-height / 2;
            
            padding: $pad-medium ($pad-medium + ($member-avatar-width / 2)) $pad-medium $pad-medium;
            
            .game-banner {
                position: absolute;
                top: $member-avatar-height / 2;
                right: 0px;
            }
            
            .generic {
                @include size($member-avatar-height / 2);
                
                position: absolute;
                top: $member-avatar-height / 2;
                right: 0px;
            }
            
            .member-avatar {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }
    
    > main {
        font-size: 0.8rem;
        margin-top: 1rem;
        
        .breakpoint-medium & {
            height: $game-banner-height * 1.3;
            //min-height: ($game-banner-height / 2) + $pad-medium;
            
            margin-right: ($game-banner-width / 2);
            padding-right: 1rem;
        }
    }
    
    .read-more {
        display: block;
        
        .breakpoint-small & {
            width: 100%;
            
            margin: $spacing-small 0px;
        }
    }
    
    .csstransforms.breakpoint-medium & {
        > header {
            .game-banner {
                top: ($game-banner-height / 2);
                right: 0px;
                
                @include transform(rotate(90deg));
                @include transform-origin(bottom);
            }
        }
        
        > main {
            //min-height: ($game-banner-width / 2) + $pad-medium;
            
            margin-right: ($game-banner-height / 2);
        }
    }
}

#news-post-section {
    header {
        position: relative;
        
        .news-post-date {
            text-align: center;
            
            display: block;
        }
    }

    .breakpoint-small & {
        header {
            margin-bottom: $spacing-small;
            padding-top: ($game-banner-height / 2) + $pad-small;
            
            .game-banner {
                width: $game-banner-width / 2;
                height: $game-banner-height / 2;
                
                position: absolute;
                top: 0px;
                right: 0px;
            }
            
            .member-avatar {
                width: $member-avatar-width / 2;
                height: $member-avatar-height / 2;
                
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
    
    .breakpoint-medium & {
        header {
            margin-bottom: $spacing-medium;
            padding: 0px (($game-banner-width / 2) + $pad-medium);
            
            @include clearfix;
            
            .game-banner {
                width: $game-banner-width / 2;
                height: $game-banner-height / 2;
                
                position: absolute;
                top: 0px;
                right: 0px;
            }
            
            .member-avatar {
                width: $member-avatar-width / 2;
                height: $member-avatar-height / 2;
                
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
    
    .breakpoint-large & {
        header {
            margin-bottom: $spacing-large;
            padding: 0px (($game-banner-width / 2) + $pad-large);
        }
    }
    
    .breakpoint-wide & {
        header { margin-bottom: $spacing-wide; }
    }
}

#news-posts-index-section {
    .breakpoint-small & {
        article {
            margin-top: $spacing-small;
            
            &:first-child { margin-top: 0px; }
        }
    }
    
    .breakpoint-medium & {
        article {
            width: (($content-width-medium / 2) - $spacing-medium);
            
            margin-top: $spacing-medium;
            
            float: left;
            
            &:nth-child(even) { clear: left; }
            
            &:nth-child(odd) {
                margin-left: $spacing-medium - ($pad-medium / 2);
                
                clear: right;
            }
            
            &:nth-child(2),
            &:nth-child(3) { margin-top: 0px; }
        }
    }
    
    .breakpoint-large & {
        article {
            width: (($content-width-large / 2) - $spacing-large);
            
            margin-top: $spacing-large;
            
            &:nth-child(odd) { margin-left: $spacing-large - ($pad-large / 2); }
        }
    }
    
    /*.breakpoint-wide & {
        article {
            width: (($content-width-wide / 2) - $spacing-wide );
            
            margin-top: $spacing-wide;
            
            &:nth-child(odd) { margin-left: $spacing-wide - ($pad-wide / 2); }
        }
    }*/
}