body.pages-controller.home-action {
    > main {
        > section,
        > span > section {
            &.games,
            &.members {
                > div { text-align: center; }
            }
            
            .games-list,
            .members-list {
                @include clearfix;
                
                list-style-type: none;
                
                font-size: 0px;
                margin: 0px auto;
                padding: 0px;
                
                display: block;
                
                > li {
                    margin: 0px;
                    padding: 0px;
                    
                    position: relative;
                    
                    display: inline-block;
                    float: left;
                    
                    a {
                        @include size(100%);
                        
                        display: inline-block;
                    }
                    
                    &.see-all a { font-size: 20px; }
                }
            }
            
            &.games .games-list > li {
                width: $game-banner-width;
                height: $game-banner-height;
            }
            
            &.members .members-list > li {
                width: $member-avatar-width;
                height: $member-avatar-height;
            }
        }
    }
    
    .breakpoint-small & {
        > main {
            > section,
            > span > section {
                &.games {
                    .games-list > li {
                        width: 50%;
                        height: auto;
                    }
                }
                
                &.members {
                    .members-list > li {
                        width: 25%;
                        height: auto;
                    }
                }
                
                .games-list,
                .members-list {
                    > li.see-all {
                        width: 100%;
                        
                        margin: $spacing-small 0px;
                    }
                }
            }
        }
    }
    
    .breakpoint-medium & {
        > main {
            > section,
            > span > section {
                &.games {
                    .games-list { width: $game-banner-width * 3; }
                }
                
                &.members {
                    .members-list { width: $member-avatar-width * 6; }
                }
                
                .games-list > li.see-all a {
                    line-height: $game-banner-height;
                    padding: 0px;
                }
                
                .members-list > li.see-all a {
                    line-height: $member-avatar-height;
                    padding: 0;
                }
            }
        }
    }
    
    .breakpoint-large & {
        > main {
            > section,
            > span > section {
                &.games {
                    > div { text-align: left; }
                    
                    .games-list { width: 100%; }
                }
                
                &.members {
                    > div { text-align: left; }
                    
                    .members-list { width: 100%; }
                }
            }
        }
    }
}