*,
*:before,
*:after {
    @include prefixer(box-sizing, border-box, moz webkit spec);
    
    @include prefixer(font-smoothing, antialiased, webkit);
    @include prefixer(osx-font-smoothing, auto, moz);
    font-smooth: always;
    
    @include prefixer(overflow-scrolling, touch, webkit);
    @include prefixer(transition-duration, 0.4s, moz o webkit);
    @include prefixer(transition-timing-function, linear, moz o webkit);
}

html,
body { @include size(100%); }

body {
    background-attachment: fixed;
    background-color: $black;
    background-image: url('/images/site-bg.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-text;
    font-family: $font-lato;
    font-weight: normal;

    margin: 0px;
    
    .breakpoint-small & { font-size: 14px; }
    
    .breakpoint-medium & {
        font-size: 16px;
        
        padding-top: $header-height-medium * 2;
    }
    
    .breakpoint-large & { padding-top: 0px; }
}

a {
    color: $white-text;
    text-decoration: none;
    
    &.hover-hilite:hover { background: $link-hilite; }
}

h,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-forum;
    font-weight: bold;
}

body > main {
    z-index: 100;
    
    > section,
    > span > section {
        > div > h2 {
            color: $white-secondary;
            
            margin: 0px 0px 1rem 0px;
        }
        
        .breakpoint-small & {
            margin-bottom: $spacing-small;
            padding: $pad-small;
        }
        
        .breakpoint-medium & {
            > div {
                background: rgba($bg-color, 0.2);
                
                padding: $pad-medium;
            }
            
            margin-bottom: $spacing-medium;
        }
        
        .breakpoint-large & {
            > div { padding: $pad-large; }
            
            margin-bottom: $spacing-large;
        }
    }
    
    > section > div {
        .breakpoint-medium & { @extend %content-centered; }
    }
    
    .breakpoint-small & {
        background: rgba($bg-color, 0.2);
        
        padding: ($header-height-small * 2) 0px $pad-small 0px;
    }
}

.button {
    background: $bg-icon;
    border-width: 0px;
    color: $white-icon;
    font-family: $font-lato;
    font-weight: lighter;
    text-align: center;

    font-size: 20px;
    line-height: 1;
    
    position: relative;
    
    display: inline-block;
    
    &:hover {
        background: $link-hilite;
        color: $white-text;
    }
    
    .breakpoint-small & { padding: $pad-small * 2; }
    
    .breakpoint-medium & { padding: $pad-medium; }
    
    .breakpoint-large & { padding: $pad-large; }
    
    .breakpoint-wide & { padding: $pad-wide; }
}

.flash {
    .flash-alert { background: rgba($green-900, 0.4); }
    
    .flash-error { background: rgba($red-900, 0.4); }

    .flash-notice { background: rgba($indigo-900, 0.4); }
    
    .breakpoint-small & {
        margin: $spacing-small auto;
        padding: $pad-small;
    }
    
    .breakpoint-medium & {
        margin: $spacing-medium auto;
        padding: $pad-medium;
    }
}

.top-bg {
    width: 100%;
    
    position: absolute;
    left: 0px;
    
    z-index: -1;
    
    .breakpoint-small & { top: $header-height-small; }
    
    .breakpoint-medium & { top: $header-height-medium; }
    
    .breakpoint-large & { top: 0px; }
}


@import 'site/form';
@import 'site/footer';
@import 'site/header';
@import 'site/icons';
@import 'site/rows';
