*,
*:before,
*:after {
    @include prefixer(box-sizing, border-box, moz webkit spec);
    
    @include prefixer(font-smoothing, antialiased, webkit);
    @include prefixer(osx-font-smoothing, auto, moz);
    font-smooth: always;
    
    @include prefixer(overflow-scrolling, touch, webkit);
    @include prefixer(transition-duration, 0.4s, moz o webkit);
    @include prefixer(transition-timing-function, linear, moz o webkit);
}

html,
body { @include size(100%); }

body {
    background-attachment: fixed;
    background-color: $black;
    background-image: url('/images/site-bg.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-text;
    font-family: $font-lato;
    font-weight: normal;

    margin: 0px;
    
    .breakpoint-small & { font-size: 14px; }
    
    .breakpoint-medium & {
        font-size: 16px;
        
        padding-top: $header-height-medium * 2;
    }
    
    .breakpoint-large & { padding-top: 0px; }
}

a {
    color: $white-text;
    text-decoration: none;
    
    &.hover-hilite:hover { background: $link-hilite; }
}

h,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-forum;
    font-weight: normal;
}

body > main {
    min-height: 514px;
    
    z-index: 100;
    
    .breakpoint-small & {
        background: $bg-content-small;
        
        padding: ($header-height-small * 2) 0px $pad-small 0px;
    }
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    
    &:first-child { margin-top: 0em; }
    &:last-child { margin-bottom: 0em; }
    
    &.notice {
        background: rgba($yellow-200, 0.4);
        color: $black-text;
        
        font-size: 1.5rem;
        line-height: 1.7rem;
        padding: 2rem;
    }
}

.actions {
    background: $bg-actions;
    border-radius: 0.5rem;
    
    margin: 0px auto;
    
    clear: both;
    
    .breakpoint-small & {
        
        display: none;
        
        #form-section & {
            margin-top: $pad-small;
            padding: $pad-small 0px;
            
            .button { margin: $pad-small; }
        }
    }
    
    .breakpoint-small body > main > & { display: none; }
    
    .breakpoint-medium & {
        text-align: center;
        
        margin-top: $pad-medium;
        
        .button { margin: $pad-medium; }
    }
    
    .breakpoint-medium body > main > & { width: $content-width-medium; }
    
    .breakpoint-large & {
        margin-top: $pad-large;
        
        .button { margin: $pad-large; }
    }
    
    .breakpoint-large body > main > & { width: $content-width-large; }
    
    .breakpoint-wide & {
        margin-top: $pad-wide;
        
        .button { margin: $pad-wide; }
    }
    
    .breakpoint-wide body > main > & { width: $content-width-wide; }
}

.button {
    background: $link-bg;
    border: 1px $black-secondary solid;
    color: $white-icon;
    font-family: $font-lato;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    
    font-size: 20px;
    
    position: relative;
    
    display: inline-block;
    z-index: 1000;
    
    &:hover {
        background: $link-hilite;
        color: $white-text;
        
        transform: scale(1.05);
        
        .icon {
            background-color: $black-icon;
            opacity: 1;
        }
    }
    
    &.see-all { box-shadow: none; }
    
    .icon { margin-right: 5px; }
    
    .icon,
    .text {
        vertical-align: middle;
        
        position: relative;
    }
    
    .breakpoint-small & {
        height: 20px + ($pad-small * 2);

        line-height: 20px + ($pad-small * 2);
        padding: 0px $pad-small;
        
        .icon,
        .text { top: -4px; }
    }
    
    .breakpoint-medium & {
        height: 20px + ($pad-medium * 2);

        line-height: 20px + ($pad-medium * 2);
        padding: 0px $pad-medium;
        
        .icon,
        .text { top: -2px; }
    }
    
    .breakpoint-large & {
        height: 20px + ($pad-large * 2);
        
        line-height: 20px + ($pad-large * 2);
        padding: 0px $pad-large;
        
        .icon,
        .text { top: -2px; }
    }
    
    .breakpoint-wide & {
        height: 20px + ($pad-wide * 2);
        
        line-height: 20px + ($pad-wide * 2);
        padding: 0px $pad-wide;
        
        .icon,
        .text { top: -2px; }
    }
}

.actions .button {
    border-radius: 0.5rem;
    border-width: 2px;
    box-shadow: 0px 0px 1rem 0.25rem $black-secondary;
    
    &.danger {
        border-color: rgba($red-900, $alpha-black-secondary);
        
        &:hover {
            .icon-delete { background-color: rgba($red-900, $alpha-black-icon); }
        }
    }
    
    .csstransforms &:hover { box-shadow: 0px 0.5rem 1rem 0.25rem $black-secondary; }
}

.clear { clear: both; }

.content-section {
    .breakpoint-small & {
        margin-bottom: $spacing-small;
        padding: $pad-small;
    }
    
    .breakpoint-medium & { margin-bottom: $spacing-medium; }
    
    .breakpoint-large & { margin-bottom: $spacing-large; }
    
    .breakpoint-wide & { margin-bottom: $spacing-wide; }
}

.content-section-body {
    @extend %content-centered;
    
    position: relative;
    
    @include clearfix;
    
    h2 {
        color: $white-secondary;
        text-align: center;
        
        margin: 0px 0px 1rem 0px;
    }
    
    h3 {
        border-bottom: 1pt $white-divider solid;
        color: $white-secondary;
        
        margin: 1rem 0px 0.5rem 0px;
        padding-left: 1rem;
    }
    
    .breakpoint-small & {
        h2 {
            background: $bg-content;
        }
    }
    
    .breakpoint-medium & {
        background: $bg-content;
        border-radius: 0.5rem;
        
        padding: $pad-medium;
    }
    
    .breakpoint-large & { padding: $pad-large; }
    
    .breakpoint-wide & { padding: $pad-wide; }
}

.breakpoint-medium .content-section.limit-medium .content-section-body { max-width: $content-width-medium; }

.breakpoint-large .content-section.limit-large .content-section-body { max-width: $content-width-large; }

.breakpoint-small .hide-small { display: none; }


@import 'site/flash';
@import 'site/form';
@import 'site/footer';
@import 'site/header';
@import 'site/icons';
@import 'site/lists';
@import 'site/rows';
