*, *:before, *:after {
    @include prefixer(box-sizing, border-box, moz webkit spec);
    
    @include prefixer(font-smoothing, antialiased, webkit);
    @include prefixer(osx-font-smoothing, auto, moz);
    font-smooth: always;
    
    @include prefixer(overflow-scrolling, touch, webkit);
    
    transition: all 0.25s;
}

html,
body { @include size(100%); }

body {
    background: $black;
    color: $white-text;

    font-size: 16px;
    margin: 0px;
    
    .breakpoint-small & {
        font-size: 14px;
        padding-top: 3rem;
    }
}

a {
    color: $white-text;
    text-decoration: none;
}

@import 'site/icons';

@import 'site/header';
