iframe.youtube-player {
    @extend %hide_small;
    
    display: inline-block;
    
    .breakpoint-medium & {
        @include size(sixteen-by-nine($game-banner-width));
    }
    
    .breakpoint-wide & {
        @include size(sixteen-by-nine($game-banner-width * 1.5));
    }
}

#videos-index-section {
    table { width: 100%; }
    
    td {
        width: auto;
        
        padding: 1rem 0rem;
        
        &.fragment { padding: 1rem 0.5rem; }
        
        &.info > span.channel {
            color: $cyan-200;
            
            margin-right: 1rem;
        }
        
        &.record_actions {
            text-align: center;
            
            > a {
                margin-right: 5px;
                
                &:last-child { margin-right: 0px; }
            }
        }
    }
    
    tr {
        border-bottom: 1px $black-divider solid;
        
        &:last-child { border-bottom-width: 0px; }
        
        &:hover { background: rgba($cyan-900, 0.2); }
    }
}
