form {
    input[type=file] {
        &::-webkit-file-upload-button {
            @include action-button-complete;
            
            cursor: pointer;
            
            display: block;
            transition-duration: 0.25s;
        }
    }
}

.action_icons {
    background: $black-icon;
    
    position: absolute;
    top: 5px;
    right: 5px;

    z-index: 10;
    
    &:hover { background: $black-text; }
}

.actions {
    text-align: center;
    
    font-size: 0px;
    margin: 0px auto;
    
    clear: both;
    
    body > main > & { width: $content-width-medium; }
    
    a,
    button,
    input { @extend %action-button; }
}
