@mixin footer-dependant-sizes($bp) {
    margin-bottom: map-get($spacing-map, $bp);
    
    nav { margin-top: map-get($spacing-map, $bp); }
}

body > footer {
    color: $white-icon;
    text-align: center;
    
    width: 100%;
    
    > div { @extend %content-centered; }
    
    nav { @extend %hide_small; }
    
    .breakpoint-small & {
        background: $color-content;

        height: $footer-height-small;
        
        font-size: 0.7rem;
        padding-top: $pad-small;
        
        img { margin-top: $spacing-small; }
    }
    
    .breakpoint-medium & {
        background: $color-content;

        height: $footer-height-medium;
        
        padding-top: $pad-medium;
        
        position: relative;
        
        nav {
            margin-top: $spacing-medium;
            
            a {
                color: $white-icon;
                
                height: 50px;
                width: 100px;
                
                font-size: 15px;
                line-height: 50px;
                
                display: inline-block;
                
                &:hover { background: $bg-link-hover; }
            }
        }
    }
    
    .breakpoint-large & { background: rgba($color-content, 0.8); }
}