@mixin footer-dependant-sizes($spacing) {
    margin-top: $spacing * 2;
    padding: ($spacing / 2) 0px;
    
    nav { margin-top: $spacing / 2; }
}

body > footer {
    color: $white-icon;
    text-align: center;
    
    width: 100%;
    
    > div { @extend %content-centered; }
    
    .breakpoint-small & {
        background: $blue-grey-900;
        
        nav { display: none; }
        
        padding: $pad-small;
    }
    
    .breakpoint-medium & {
        background: $blue-grey-900;
        background: linear-gradient(rgba($blue-grey-900, 0), $blue-grey-900);
        
        position: relative;
        
        nav {
            a {
                color: $white-icon;
                
                height: 50px;
                width: 100px;
                
                font-size: 15px;
                line-height: 50px;
                
                display: inline-block;
            }
        }
        
        @include footer-dependant-sizes($pad-medium);
    }
    
    .breakpoint-large & { @include footer-dependant-sizes($pad-large); }
    
    .breakpoint-wide & { @include footer-dependant-sizes($pad-wide); }
}