@mixin form-dependant-sizes($pad, $spacing) {
    .field { margin-bottom: $spacing; }
}

form {
    margin: auto;
    
    position: relative;
    
    input[type=file] {
        &::-webkit-file-upload-button {
            @extend .button;
            
            cursor: pointer;
            
            display: block;
            transition-duration: 0.4s;
        }
    }
    
    input[type=text],
    input[type=password],
    select,
    textarea {
        background: $blue-grey-200;
        border-width: 0px;
        color: $black-text;
        
        width: 100%;
        
        padding: 0.4rem 0.6rem;
        
        display: block;
    }

    input[type=text],
    input[type=password] {
        height: 2.4rem;
        
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 2.4rem;
    }

    textarea {
        max-width: 100%;
        min-height: 6.8rem;
        
        font-size: 1rem;
        line-height: 1.2rem;
        
        &.long {
            min-height: 12.8rem;
        }
    }
    
    .field {
        position: relative;
        
        > label {
            font-family: $font-lato;
            text-transform: uppercase;

            font-size: 0.6rem;
            letter-spacing: 1px;
            line-height: 1;
            margin-bottom: 0.6rem;
            
            display: block;
        }
        
        .check-group,
        .radio-group {
            background: rgba($link-hilite, 0.2);
            
            &.halfs,
            &.thirds {
                position: relative;
                
                @include clearfix;
                
                > div { float: left; }
            }
            
            &.halfs > div { width: 50%; }
            
            &.thirds > div { width: 33%; }
            
            > div {
                padding: 0.8rem 0.6rem;
                
                &.checked {
                    background: rgba($blue-grey-700, 0.4);
                    
                    .toggle > span { background: $bg-color; }
                }
            }
            
            input { display: none; }
            
            label,
            .toggle {
                cursor: pointer;
                vertical-align: middle;
                
                height: 1.8rem;
                
                display: inline-block;
            }
            
            label {
                font-size: 0.8rem;
                letter-spacing: 1px;
                line-height: 1.8rem;
            }
            
            .toggle {
                background: $blue-grey-200;
                
                width: 1.8rem;
                
                margin-right: 0.5em;
                
                position: relative;
                
                > span {
                    @include size(50%);
                    
                    position: absolute;
                    top: 25%;
                    left: 25%;
                    
                    display: inline-block;
                }
            }
        }
        
        .radio-group {
            .toggle {
                border-radius: 50%;
                
                > span { border-radius: 50%; }
            }
        }
    }
    
    .breakpoint-small & {
        @include form-dependant-sizes($pad-small, $spacing-small);
        
        padding: 0px $pad-small;
        
        .check-group,
        .radio-group {
            label { font-size: 0.6rem; }
        }
    }
    
    .breakpoint-medium & {
        @include form-dependant-sizes($pad-medium, $spacing-medium);
        
        .halfs-medium {
            position: relative;
            
            @include clearfix;
            
            .field {
                width: 48%;
                
                display: inline-block;
                
                &:first-child { float: left; }
                &:last-child { float: right; }
            }
        }
    }

    .breakpoint-large & { @include form-dependant-sizes($pad-large, $spacing-large); }
}

button.button,
input.button { border-width: 0px; }