body > header {
    background: rgba($blue-grey-900, 0.6);
    color: $white-icon;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    > div {
        @include clearfix;
        
        a {
            .text {
                color: $white-icon;
                
                transition: color 0.4s;
            }
            
            &:hover {
                .icon { opacity: 1; }
                
                .text { color: $white; }
            }
        }
        
        h1 {
            display: inline-block;
            transition: color 0.4s;
            
            .icon {
                vertical-align: middle;
                
                position: relative;
                top: -1px;
            }
        }
    }

    .breakpoint-small & {
        background: $blue-grey-900;
        
        z-index: 0;
        
        > div {
            height: 2rem;
            
            margin: 0.4rem;
            
            h1 {
                font-size: 1.2rem;
                line-height: 2rem;
                margin: 0px;
                
                .icon { margin-right: 0.4rem; }
            }
            
            nav {
                background: $blue-grey-700;
                
                width: 100%;
                height: auto;
                
                padding: 2.6rem 0.4rem 0.4rem 0.4rem;

                position: absolute;
                top: 0px;
                left: 100%;
                
                transition: left 0.4s;
                z-index: -1;
                
                &.nav-open { left: 0px; }
                
                a {
                    text-align: right;
                    
                    font-size: 1.4rem;
                    padding: 0.6rem 0px;
                    
                    display: block;
                    
                    .icon { display: none; }
                }
            }
            
            .icon-menu {
                float: right;
                
                transition: transform 0.4s;
                
                &.nav-open { @include transform(rotate(360deg)); }
            }
        }
    }
    
    .breakpoint-medium & {
        > div {
            @extend %content-constraint;
            
            padding: 1rem;
            
            position: relative;
            
            h1 {
                vertical-align: middle;
                
                font-size: 1.6rem;
                line-height: 3rem;
                margin: 0px;
                
                .icon { margin-right: 1rem; }
            }
            
            nav {
                vertical-align: middle;
                
                float: right;
                
                a {
                    text-align: center;
                    
                    width: 6rem;
                    
                    line-height: 3rem;
                    
                    position: relative;
                    
                    display: inline-block;
                    transition: background 0.4s;
                    
                    .icon {
                        position: absolute;
                        top: 0px;
                        left: 2rem;
                    }
                    
                    .text {
                        font-weight: bold;
                        
                        position: relative;
                        top: 1rem;
                        
                        display: inline-block;
                    }
                    
                    &:hover { background: $blue-grey-700; }
                }
            }
            
            .icon-menu { display: none; }
        }
    }
    
}