body > header {
    @include size(100% auto);
    
    z-index: $z-header;
    
    > div {
        @extend %content-centered;
        
        @include clearfix;
        
        font-size: 0px;
    }


    a { color: $white-secondary !important; }

    
    h1 {
        margin: 0px;
        
        display: inline-block;
        
        .icon {
            vertical-align: middle;
            
            position: relative;
        }
        
        .text { vertical-align: middle; }
    }
    
    .breakpoint-small &,
    .breakpoint-medium & {
        background: $color-content;
        
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        
        h1 {
            vertical-align: top;
            
            .icon { margin-right: 5px; }
        }
    }
    
    .breakpoint-small & {
        > div {
            height: $header-height-small;
            
            padding: 0px $pad-small;
        }
        
        h1 {
            font-size: $header-height-small * 0.6;
            line-height: $header-height-small;
            
            .icon { @include size($header-height-small * 0.8); }
        }
        
        nav {
            @extend .z_shadow_2;
            
            background: $cyan-900;
            
            @include size(100% auto);
            
            font-size: $header-height-small * 0.8;
            padding-top: $header-height-small;
            
            position: absolute;
            top: 0px;
            left: 100%;
            
            z-index: -1;
            
            &.nav-open { left: 0px; }
            
            &:before {
                background: $black-divider;
                content: "";
                
                @include size(100% $header-height-small);
                
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                
                display: block;
                z-index: -1;
            }
            
            a {
                text-align: right;
                
                padding: $pad-small;
                
                display: block;
                
                &:after {
                    content: "\2023";
                    
                    margin-left: 5px;
                }
                
                .icon { display: none; }
            }
        }
        
        .icon-menu {
            @include size($header-height-small);
            
            float: right;
            
            &.nav-open { @include transform(rotate(360deg) scale(1.10)); }
        }
    }
    
    .breakpoint-medium & {
        > div {
            height: $header-height-medium;
        }
        
        h1 {
            font-size: $header-height-medium * 0.50;
            line-height: $header-height-medium;
            
            .icon { @include size($header-height-medium * 0.8); }
        }
        
        nav {
            float: right;
            
            a {
                text-align: center;
                
                @include size(($header-height-medium * 2) $header-height-medium);
                
                position: relative;
                
                display: inline-block;
                
                &:hover { background: $bg-link-hover; }
                
                .icon,
                .text {
                    width: 100%;
                    
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    
                    display: block;
                }
                
                .icon {
                    height: $header-height-medium / 2;
                    
                    top: 5px;
                }
                
                .text {
                    height: 1rem;
                    
                    font-size: 1rem;
                    line-height: 1rem;
                    
                    bottom: 5px;
                }
            }
        }
        
        .icon-menu { display: none; }
    }
    
    .breakpoint-large & {
        background-color: transparent;
        background-image: url(asset-path('bg-header.png'));
        background-position: top center;
        background-repeat: repeat-x;
        
        position: static;
    }
}


.background_images-assoc-game   #header-nav-games,
.background_images-assoc-game   #header-nav-members,
.external_links-controller      #header-nav-members,
.game_memberships-assoc-game    #header-nav-games,
.game_memberships-assoc-member  #header-nav-members,
.games-controller               #header-nav-games,
.members-controller             #header-nav-members,
.news_posts-controller          #header-nav-news_posts,
.videos-controller              #header-nav-members { background-color: $bg-current; }
