@mixin header-dependant-sizes($ht) {
    $-nav-icon-sz: $ht / 1.5;
    
    > div {
        height: $ht;
        
        h1 {
            font-size: $ht / 2;
            line-height: $ht;
            
            .icon { @include size($ht * 0.666666); }
        }

        nav {
            a {
                height: $ht;
                
                font-size: $ht / 4;
                line-height: $ht;
                
                .icon {
                    @include size($-nav-icon-sz);
                    
                    left: (($header-nav-link-width - $-nav-icon-sz) / 2);
                }
                
                .text { top: $ht / 4; }
            }
        }
    }
}

body > header {
    color: $white-icon;

    width: 100%;
    height: auto;
    
    z-index: 1000;
    
    > div {
        @extend %content-centered;
        
        @include clearfix;
        
        a {
            .text { color: $white-icon; }
            
            &:hover {
                .icon { opacity: 1; }
                
                .text { color: $white; }
            }
        }
        
        h1 {
            margin: 0px;
            
            display: inline-block;
            
            .icon {
                vertical-align: middle;
                
                position: relative;
            }
            
            .text { vertical-align: middle; }
        }
    }
    
    .breakpoint-small &,
    .breakpoint-medium & {
        background: $bg-color;

        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
    }

    .breakpoint-small & {
        > div {
            height: $header-height-small;
            
            margin: ($pad-small / 2) 0px;
            padding: 0px $pad-small;
            
            h1 {
                font-size: 20px;
                line-height: 30px;
                
                .icon {
                    @include size(30px);
                    
                    margin-right: 5px;
                }
            }
            
            nav {
                background: $link-hilite;
                
                width: 100%;
                height: auto;
                
                font-size: 30px;
                padding-top: $header-height-small;

                position: absolute;
                top: 0px;
                left: 100%;
                
                z-index: -1;
                
                &.nav-open { left: 0px; }
                
                a {
                    text-align: right;
                    
                    margin: $pad-small 0px;
                    padding: ($pad-small / 2) $pad-small;
                    
                    display: block;
                    
                    &:after {
                        color: $white-icon;
                        content: "\2023";
                        
                        margin-left: 5px;
                    }
                    
                    &:hover:after { color: $white; }
                    
                    .icon { display: none; }
                }
            }
            
            .icon-menu {
                @include size(30px);
                
                float: right;
                
                transition-property: transform;
                
                &.nav-open { @include transform(rotate(360deg)); }
            }
        }
    }
    
    .breakpoint-medium & {
        @include header-dependant-sizes($header-height-medium);
        
        > div {
            position: relative;
            
            h1 {
                margin: 0px;
                
                .icon { margin-right: 5px; }
            }
            
            nav {
                float: right;
                
                a {
                    font-weight: bold;
                    text-align: center;
                    
                    width: $header-nav-link-width;

                    position: relative;
                    
                    display: inline-block;
                    
                    .icon {
                        position: absolute;
                        top: 0px;
                    }
                    
                    .text {
                        position: relative;
                        
                        display: inline-block;
                    }
                }
                
            }
            
            .icon-menu { display: none; }
        }
    }
    
    .breakpoint-large & {
        //@include better-linear-gradient($bg-color, rgba($bg-color, 0));
        background: transparent;
        
        padding-bottom: $pad-large;
        
        position: static;
        
        @include header-dependant-sizes($header-height-large);
    }
    
    .breakpoint-wide & {
        padding-bottom: $pad-wide;
        
        @include header-dependant-sizes($header-height-wide);
    }
}

.background_images-controller.background_images-assoc-game > header nav a#header-nav-games,
.background_images-controller.background_images-assoc-member > header nav a#header-nav-members,
.game_memberships-controller.game_memberships-assoc-game > header nav a#header-nav-games,
.game_memberships-controller.game_memberships-assoc-member > header nav a#header-nav-members,
.games-controller > header nav a#header-nav-games,
.members-controller > header nav a#header-nav-members,
.news_posts-controller > header nav a#header-nav-news-posts { background: $bg-current; }