.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: $alpha-white-icon;

    @include size($icon-size-sm);
    
    display: inline-block;
    
    &.icon-lg { @include size($icon-size-lg); }

    @each $icon in $icons-available {
        &.icon-#{$icon} { background-image: url("/images/icons/#{$icon}.png"); }
    }
}
