ul.packed {
    list-style-type: none;
    
    max-width: 100%;

    font-size: 0px;
    margin: 0px auto;
    padding: 0px;
    
    position: relative;
    
    @include clearfix;
    display: block;
    
    li {
        position: relative;
        
        float: left;
        
        a {
            @include size(100%);
            
            display: inline-block;
        }
        
        &.see-all a { font-size: 20px; }
    }
    
    .breakpoint-small & {
        width: 100%;
        
        &.of-games li { @include size(50% auto); }
        
        &.of-members li { @include size(33% auto); }
        
        &.of-videos { display: none; }
        
        li.see-all {
            width: 100%;
            
            margin: $spacing-small 0px;
        }
    }
    
    .breakpoint-medium &,
    .breakpoint-large .limit-medium &,
    .breakpoint-wide .limit-medium & {
        &.of-games {
            width: $game-banner-width * 3;
            
            li {
                @include size($game-banner-width auto);
                
                &.see-all a {
                    height: $game-banner-height;
                    
                    line-height: $game-banner-height;
                    padding: 0px;
                }
            }
        }
        
        &.of-members {
            width: $member-avatar-width * 6;
            
            li {
                @include size($member-avatar-width auto);
                
                &.see-all a {
                    height: $member-avatar-height;
                    
                    line-height: $member-avatar-height;
                    padding: 0px;
                }
            }
        }
        
        &.of-videos {
            width: $game-banner-width * 3;
            
            li {
                @include size(sixteen-by-nine($game-banner-width));
                
                &.see-all a {
                    height: $game-banner-height;
                    
                    line-height: $game-banner-height;
                    padding: 0px;
                }
            }
        }
    }
    
    .breakpoint-large &,
    .breakpoint-wide .limit-large & {
        &.of-games { width: $game-banner-width * 2; }
        &.of-members { width: $member-avatar-width * 4; }
        &.of-videos { width: $game-banner-width * 2; }
    }
    
    .breakpoint-wide & { 
        &.of-games { width: $game-banner-width * 3; }
        &.of-members { width: $member-avatar-width * 6; }
        &.of-videos {
            width: $game-banner-width * 3;
            
            li { @include size(sixteen-by-nine($game-banner-width * 1.5)); }
        }
    }
}

ul li .action-icons {
    background-color: $black-icon;
    
    position: absolute;
    top: 0px;
    right: 0px;
    
    a {
        @include size($icon-size);
        
        margin-right: 5px;
        
        &:last-child { margin-right: 0px; }
    }
    
    .breakpoint-small & { display: none; }
}
