ul.packed {
    list-style-type: none;
    
    max-width: 100%;
    
    font-size: 0px;
    margin: 0px auto;
    padding: 0px;
    
    @include clearfix;
    display: block;

    
    > li {
        position: relative;
        
        display: block;
        float: left;
        
        overflow: hidden;
        
        &.see-all {
            background-color: $bg-action;
            font-weight: lighter;
            text-align: center;
            
            &:hover { background-color: $bg-action-hover; }
            
            
            a {
                @include size(100%);
                
                font-size: 1rem;
                
                display: inline-block;
            }
        }
    }
    
    
    .action_icons { @extend %hide_small; }
    
    
    .breakpoint-small & {
        width: 100%;
        
        > li.see-all {
            @include size(100% $list-see-all-height-small);
            
            line-height: $list-see-all-height-small;
            margin-top: $spacing-small;
            
            clear: both;
            display: block;
            float: none;
        }
    }
    
    
    .breakpoint-medium &,
    .breakpoint-large .limit_medium & { width: $list-width-medium; }
    
    
    .breakpoint-large &,
    .breakpoint-wide .limit_large & { width: $list-width-large; }
    
    
    .breakpoint-wide & { width: $list-width-wide; }
    
    
    .breakpoint-medium.csstransforms & {
        > li { @extend %hover-zoom, .z_level_0; }
    }
}
