.breakpoint-small .row-medium,
.breakpoint-small .row-large,
.breakpoint-small .row-wide,
.breakpoint-medium:not(.breakpoint-large) .row-large,
.breakpoint-medium:not(.breakpoint-wide) .row-wide,
.breakpoint-large:not(.breakpoint-wide) .row-wide {
    > section > div { @extend %content-centered; }
}

.breakpoint-medium .row-medium,
.breakpoint-large .row-medium,
.breakpoint-large .row-large,
.breakpoint-wide .row-medium,
.breakpoint-wide .row-large,
.breakpoint-wide .row-wide {
    //@extend %content-centered;
    
    position: relative;
    
    display: block;

    &.row-of-halfs {
        @include clearfix;
        
        > :first-child { float: left; }
        > :last-child { float: right; }
    }
}

.breakpoint-medium {
    .row-medium {
        &.row-of-halfs {
            @include margin-centered($content-width-halfs-medium);
            
            > section { width: $content-width-halfs-medium-column; }
        }
    }
}

.breakpoint-large {
    .row-medium,
    .row-large {
        &.row-of-halfs {
            @include margin-centered($content-width-halfs-large);
            
            > section { width: $content-width-halfs-large-column; }
        }
    }
}

.breakpoint-wide {
    .row-medium,
    .row-large,
    .row-wide {
        &.row-of-halfs {
            @include margin-centered($content-width-halfs-wide);
            
            > section { width: $content-width-halfs-wide-column; }
        }
    }
}
