<%- show_twitch_indicator ||= false -%>
<%- see_all ||= false -%>
<ul class="of-members packed">
    <%- members.each do |member| -%>
        <li class="hover-zoom z-level-0">
            <%= member_avatar member -%>
            <%- if show_twitch_indicator then -%>
                <%- fragment = member.twitch_fragment -%>
                <%- unless fragment.nil? then -%>
                    <%= link_to image_tag('external-sites/twitch-avatar-indicator.png'),
                        external_link_twitch_channel_url(fragment),
                        class: 'member-avatar-twitch-indicator',
                        data: {fragment: fragment}
                    %>
                <%- end -%>
            <%- end -%>
        </li>
    <%- end -%>
    <%- if see_all then -%>
        <li class="hover-zoom see-all z-level-0"><%= link_to 'All Members', members_path %></li>
    <%- end -%>
</ul>
