<%- show_delete ||= false -%>
<%- show_twitch_indicator ||= false -%>
<%- see_all ||= false -%>
<ul class="of-members packed">
    <%- members.each do |member| -%>
        <li>
            <%= member_avatar member -%>
            <%- if show_delete then -%>
                <%= icon_delete_link :white, '', member_path(member) %>
            <%- end -%>
            <%- if show_twitch_indicator then -%>
                <%- fragment = member.twitch_fragment -%>
                <%- unless fragment.nil? then -%>
                    <%= link_to image_tag('external-sites/twitch-avatar-indicator.png'),
                        external_link_twitch_channel_url(fragment),
                        class: 'member-avatar-twitch-indicator',
                        data: {fragment: fragment}
                    %>
                <%- end -%>
            <%- end -%>
        </li>
    <%- end -%>
    <%- if see_all then -%>
        <li class="see-all"><%= link_to 'All Members', members_path, class: 'button' %></li>
    <%- end -%>
</ul>
