<%= content_section 'members-index' do -%>
    <ul>
        <%- @members.each do |member| -%>
            <li><%= member_avatar member -%></li>
        <%- end -%>
    </ul>
<%- end -%>

<% content_for :user_actions do %>
    <%- if @current_user.is_admin? -%>
        <%= link_to 'New Member', new_member_path, class: 'button' %>
    <%- end -%>
<% end %>
